
<footer>

	<%= link_to 'Home', home_path, class: "serif" %>&nbsp;&nbsp;::&nbsp;&nbsp;
  <%= link_to 'About Bread Express', about_path, class: "serif" %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Contact Us', contact_path, class: "serif" %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Privacy Policy', privacy_path, class: "serif" %>
	<br /><br />
	
	<div id="copy">
		<p class="serif">Webmaster: <%= mail_to("jingqiy@andrew.cmu.edu", "Jingqi Yang", encode: "javascript", class: "serif") %> 
		&nbsp;&nbsp;&copy 2015</p>
	</div>

</footer>