
<footer>

	<%= link_to 'Home', home_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
  <%= link_to 'About Bread Express', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Privacy Policy', privacy_path %>
	<br /><br />
	
	<div id="copy">
		<p>Webmaster: <%= mail_to("jingqiy@andrew.cmu.edu", "Jingqi Yang", encode: "javascript") %> 
		&nbsp;&nbsp;&copy 2015</p>
	</div>

</footer>