<table class="table table-striped">
  <thead>
    <tr>
      <th width="100">Quantity</th>
      <th width="300">Item</th>
      <th width="100">Unit Price</th>
      <th width="100">Subtotal</th>
      <% if (current_user.role? :shipper) || (current_user.role? :admin) %>
        <th>&nbsp;</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% order_items.each do |oi| %>
      <tr>
        <td align="center"><%= oi.quantity %></td>
        <td><%= link_to oi.item.name, item_path(oi.item) %></td>
        <td align="center"><%= number_to_currency oi.item.price_on_date(date) %></td>
        <td align="right"><%= number_to_currency oi.subtotal(date) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <% if (current_user.role? :shipper) || (current_user.role? :admin)  %>
          <td>
            <% if oi.shipped_on.nil? %>
              <%= link_to 'check', mark_path(oi.id), class: 'button radius' %>
            <% else %>
              <h3>shipped</h3>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
