<%= simple_form_for @item_price, html: { class: 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Item Price</legend>
    <%= f.input :item_id, as: :hidden, input_html: { value: @item} %>
    <%= f.input :price, input_html: {class: "avg"} %>
    <%= f.input :start_date, as: :hidden, input_html: { value: Date.today }%>
    <div class="form-actions">
      <%= f.submit nil, :class => 'button radius' %>
      <%= link_to 'Cancel', item_path(@item), :class => 'button alert radius' %>
    </div>
  </fieldset>
<% end %>
