<div class="row padding-top">
  <div class="small-8 small-offset-2 columns">
    <h3 class="text-centered">Baking List</h3>
    
    <% if @muffins_baking_list.empty? %>
      <h5><em>No muffins unbaked at this time.</em></h5>
    <% else %>
      <h4><b>Muffin</b></h4>
      <% @muffins_baking_list.each do |item,quantity| %> 
        <p><b><%= item %>:</b> <%=quantity/2 %> units unbaked</p>
      <% end %>
    <% end %>

    <% if @bread_baking_list.empty? %>
      <h4><b>No bread unbaked at this time.</b></h4>
    <% else %>
      <h4><b>Bread</b></h4>
      <% @bread_baking_list.each do |item,quantity| %> 
        <p><b><%= item %>:</b> <%=quantity/2 %> units unbaked</p>
      <% end %>
    <% end %>

    <% if @pastries_baking_list.empty? %>
      <h4><b>No pastries unbaked at this time.</b></h4>
    <% else %>
      <h4><b>Pastries</b></h4>
      <% @pastries_baking_list.each do |item,quantity| %> 
        <p><b><%= item %>:</b> <%=quantity/2 %> units unbaked</p>
      <% end %>
    <% end %>
  </div>
</div>
