<p><h3>Check out your cart:</h3></p>
<p>
  <h6> <b>Cart Summary</b></h6>
  <%= render :partial =>"order_items" %>
  <h6> <b>Cart Costs:</b> $<%= format('%.02f',@cart_cost) %> </h6>
  <h6> <b>Shipping Costs:</b> $<%= format('%.02f',@shipping_cost) %> </h6>
  <h6> <b>Grand Total:</b> $<%= format('%.02f',@grand_total) %> </h6>
</p>
<%= simple_form_for @order, html: { class: 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Order</legend>
    <%= f.input :address_id, collection: get_address_options_for_customer(@customer), include_blank: true, input_html: {class: "avg"} %>
    
    <%= f.input :credit_card_number, input_html: { class: "avg" }%>
    <%= f.input :expiration_year, input_html: { class: "avg" }%>
    <%= f.input :expiration_month, input_html: { class: "avg" }%>
    <div class="form-actions">
      <%= f.submit 'Pay', :class => 'sans-serif button radius' %>
      <%= link_to 'Back to cart', show_current_cart_path, :class => 'button secondary radius' %>
    </div>
  </fieldset>
<% end %>

  def format_price(price)
    format('%.02f',price)
  end