<div class="row">
  <div class="small-4 small_centered columns">
    <h2><%= @item.name %></h2>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <%= render :partial => "item_summary" %>
  </div>
  <div class="small-8 columns">
    <%= render :partial => "item_details" %>
  </div>
</div>

<!-- Only admin can see price history and make modifications -->
<% if logged_in? && current_user.role?(:admin) %>
  <div class="row">
    <div class="medium-8 medium-offset-4 columns">
      <p><b>Price History:</b></p>
      <%= render :partial => "/item_prices/price_history" unless @item_prices.empty? %>
    </div>
  </div>

  <!-- Add buttons for New Price, Edit and Delete -->
  <div class="row">
    <div class="medium_8 medium-offset-4 columns">
      <%= link_to(new_item_price_path(item_param: @item), class: "button radius") do %>
        &nbsp;Add a New Item Price
      <% end %>
      <%= link_to("Edit Item", edit_item_path(@item), class: "button radius")  %> 
      <%= link_to(item_path(@item), class: 'button radius alert', method: 'delete', data: {confirm: "Are you sure you want to permanently delete this item"}) do %>Delete Item<% end %>
    </div>
  </div>
<% end %>

<!-- All people can see similar item-->
<% if logged_in?  %>
  <div class="row">
    <div class="small-10 small-offset-1 columns">
      <%= render :partial => "similar_items" unless @similar_items.empty? %>
    </div>
  </div>
<% end %>

